<h2 class="dialog-title" mat-dialog-title>Запросити користувача</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="form" (input)="onInput()">
    <mat-form-field class="form__field">
      <mat-label>Пошта користувача</mat-label>
      <input matInput formControlName="email" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        @for (user of filteredUsers(); track user.id) {
          <mat-option [value]="user.email">
            <div>{{user.firstName}} {{user.lastName}}</div>
            <small>{{user.email}}</small>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>

  @if (selectedUser) {
    <p class="confirmation">Ви дійсно хочите запростити цього користувача?</p>
    <div class="selected-user">
      <img class="user__image" width="35px" src="../../../assets/generic-avatar.svg" alt="avatar">
      <div class="">
        <div>{{selectedUser.firstName}} {{selectedUser.lastName}}</div>
        <small>{{selectedUser.email}}</small>
      </div>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Закрити</button>
  @if (selectedUser) {
    <button mat-button (click)="inviteUser()">Запросити</button>
  }
</mat-dialog-actions>
