<div class="form__wrapper">
  <h1 class="form__name">Login</h1>
  <form class="form" [formGroup]="form" (submit)="onSubmit()">

    <mat-form-field appearance="outline" class="form__field" >
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="test@pnu.edu.ua">
      <mat-icon matSuffix>email</mat-icon>
      @if (form.get('email')?.invalid) {
        <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field" >
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'" />
      <button
        mat-icon-button matSuffix
        (click)="togglePassword($event)"
      >
        <mat-icon>{{showPassword ? 'visibility': 'visibility_off'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button>Submit</button>
  </form>
  <a mat-button routerLink="/auth/register">Register a new account</a>
</div>
