<h2 mat-dialog-title>Призначити студента</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="form" (input)="onInput()">
    <mat-form-field class="form__field">
      <mat-label>Пошта</mat-label>
      <input matInput formControlName="email" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        @for (user of filteredUsers(); track user) {
          <mat-option [value]="user.id">
            <div>{{user.firstName}} {{user.lastName}}</div>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  @if (selectedUser) {
    <p>Ви дійно хочете призначити студенту заняття?</p>
    <div class="selected-user">
      <img class="user__image" width="35px" src="../../../assets/generic-avatar.svg" alt="avatar">
      <div>{{selectedUser.firstName}} {{selectedUser.lastName}}</div>
    </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Закрити</button>
  @if (selectedUser) {
    <button mat-button (click)="inviteUser()">Призначити</button>
  }

</mat-dialog-actions>
