:host {
  display: flex;
  max-height: 100vh;
  height: 100%;
}

.container {
  width: 100%;
}

.sidenav {
  width: 100px;
  height: 100%;
  background-color: var(--mat-sys-background);
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  transition: all 300ms;

  &__navigation{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &__navigation-btn {
    width: 100%;

    a {
      border-radius: 0;
      width: 100%;
      --mat-text-button-state-layer-color: none;
      transition: all 300ms;
      border-left: 4px solid transparent;
      &.active {
        color: var(--primary-2);
        border-color: var(--primary-2) ;
        &.opened {
          background-color: #e4e1ed;
          border-radius: 0 5px 5px 0;
        }
      }
      &.opened {
        flex-direction: row;
        justify-content: start;
        gap: 6px;
        --mdc-text-button-container-height: 45px;
        & mat-icon {
          margin-bottom: 0;
        }
      }
      &:hover {
        color: var(--primary-2);
      }
    }
  }

  &__user-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 8px;
    background-color: #f5f3fb;
    border-radius: 10px;
  }



  &__toggle_btn {
    margin-left: 10px;
    color: #0e273c;
    border: 1px solid #cbc7d7;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    transition: all 300ms;
    --mat-text-button-state-layer-color: none;
    &.opened {
    }
    ::ng-deep {
      .mdc-icon-button__ripple {
        border-radius: 15px;
      }
    }
  }
  &.active {
    width: 250px;
  }
}

app-user {
  width: 100%;
  max-width: 60px;
  &.opened {
    max-width: 100%;

  }
}

.main {
  padding: 15px;
  overflow: hidden;
  max-height: calc(100% - 40px);
  background-color: #F5F3FB;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: end;
  &__button {
    background-color: #f5f3fb;
    border: 0;
    color: var(--primary-2) !important;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 60px;
    width: 60px;

    & mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: var(--primary-2);
      margin: 0 0 0 0;
    }
  }
  &__button.opened {
    justify-content: start;
    gap: 6px;
    width: 100%;
  }
}

/* Phones */
@media (max-width: 599px) {
  .sidenav {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: calc(100% - 70px);
    height: 70px;
    border: 0;
    padding: 0;
    border-radius: 0;

    &__navigation {
      flex-direction: row;
      margin: 0;
      gap: 0;
    }
    &__navigation-btn a {
      border-left: 0;
      border-top: 4px solid transparent;
      font-size: 12px;
      --mdc-text-button-container-height: 55px;
      --mat-text-button-with-icon-horizontal-padding: 8px;
      mat-icon {
        margin-bottom: 4px;
      }
    }

    &__user-section {
      margin: 0;
      padding: 0;
      border: 0;
    }

    &__user-section-container {
      border-radius: 50%;
    }
  }

  .main {
    max-height: calc(100% - 75px);
    margin: 5px;
  }
  ::ng-deep {
    .mat-drawer-inner-container {
      display: flex;
      align-items: center;
      border-radius: 0;
      justify-content: center;
      flex-direction: row-reverse;
    }
  }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 839.98px) {

}

/* Desktops */
@media (min-width: 840px) {

}
