<h2 mat-dialog-title>Inbox</h2>
<mat-dialog-content>
  <div class="inbox-list">
    @for (invitation of invitations; track invitation.id) {
      <div class="invitation">
        <span class="invitation__date">{{invitation.sentAt}}</span>
        <span class="invitation__sender">{{invitation.instructor.firstName}} {{invitation.instructor.lastName}}</span>
        invites you to the course:
        <span class="invitation__course">{{invitation.course.name}}</span>
        <div class="invitation__actions">
          <button mat-icon-button (click)="acceptInvitation(invitation.id)">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button (click)="declineInvitation(invitation.id)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    }

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" >Close</button>
</mat-dialog-actions>
