<h2 mat-dialog-title>Create new slot</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="form">

    <div class="form__row">
      <mat-form-field class="form__course-select">
        <mat-label>Select a course</mat-label>
        <mat-select formControlName="courseId">
          @for (course of courses; track course.id) {
            @if (course.state == CourseState.APPROVED) {
              <mat-option [value]="course.id">{{course.name}}</mat-option>
            }
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form__row">
      <mat-form-field class="form__datepicker" appearance="outline">
        <mat-label>Practice date</mat-label>
        <input matInput [matDatepicker]="datepicker" [min]="today" formControlName="date">
        <mat-datepicker #datepicker/>
        <mat-datepicker-toggle [for]="datepicker" matIconSuffix/>
      </mat-form-field>

      <mat-form-field class="form__timepicker" appearance="outline">
        <mat-label>From:</mat-label>
        <input matInput [matTimepicker]="timepicker"  formControlName="startTime">
        <mat-timepicker #timepicker/>
        <mat-timepicker-toggle [for]="timepicker" matIconSuffix/>
      </mat-form-field>

      <mat-icon style="margin-bottom: 18px;">horizontal_rule</mat-icon>

      <mat-form-field class="form__timepicker" appearance="outline">
        <mat-label>To:</mat-label>
        <input matInput [matTimepicker]="timepicker2" formControlName="endTime">
        <mat-timepicker #timepicker2/>
        <mat-timepicker-toggle [for]="timepicker2" matIconSuffix/>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Close</button>
  <button mat-button cdkFocusInitial (click)="submit()">Submit</button>
</mat-dialog-actions>
